:root{
  --primary: #33cccc;
  --shadow: 5px 5px 10px
}

.prop-name{
  text-align:center;
  color: var(--primary);
}

.prop-name > p{
  color:initial;
}

.prop-name > h1{
  font-size:3.2em;
}

.card{
  margin-top: 25px;
  margin-bottom:100px;
  box-shadow: var(--shadow);
}

.cu-title{
  text-align:center;
  color: var(--primary);
   text-decoration: underline;
   margin-top:50px;
}

.contact-map{
  margin-top:50px;
  display:grid;
  grid-gap:20px;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
  border: solid;
  padding:10px;
  background-color: #d9d9d9;
  box-shadow: var(--shadow);
  margin-bottom:100px;

}


.roomsinfo{
  margin: 20px;
  padding: 10px;

}

.roomsinfo > h3{
  text-align: center;
  font-size:2em;
  text-decoration: underline;
}

.amenities{
  background-image: url(background.png);
  margin-bottom: 150px;
  padding: 20px;
  box-shadow: var(--shadow);

}

.amli{
  list-style:none;
  display: grid;
  grid-gap:10px;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
}

.amenities > h3{
  text-align: center;
  font-size:2em;
  text-decoration: underline;

}










footer{
  background-color: black;
  margin:10px;
  padding: 10px;
  color:white;
  position: fixed;
  bottom:0px;
  width:100%;
  text-align:center;
  margin-top:200px;
}
